<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="shortcut icon" href="/images/uwezo-cleaning-company-high-resolution-logo-transparent.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">     
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <%- include("header.ejs")%>
    
      <section class="section about" id="about">
        <div class="container">

          <h2 class="h2 section-title">What We Do</h2>

          <p class="section-text">
            We are a professional cleaning company committed to providing top-notch cleaning services for homes and offices.We offer exemplary services to you ,our customer, to ensure full satisfaction
          </p>

          <ul class="about-list">

            <li>
              <div class="about-card about-card-1">

                <!-- <figure class="card-banner">
                  <img src="/images/location.jpeg" width="94" height="94" loading="lazy"
                    alt="Automated Ticket Routing">
                </figure> -->

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Location</a>
                  </h3>

                  <p class="card-text">
                    We are located at Kalyet City Mall opposite Jumahanji Plaza , in a prime location that is easily accessible to.
                  </p>

                 

                    <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
    

                </div>

              </div>
            </li>

            <li>
              <div class="about-card about-card-">

                <div class="card-content">

                 
                

                  <p class="card-text">
                    
                  </p>
                    <figure>
                      <img src="/images/servcyc.jpg" alt="cycle" class="image">
                    </figure>
                  </a>

                </div>

              </div>
            </li>

           
          </ul>

          <p class="section-text">
            You are welcome to visit our Offices at Kalyet City Mall if you have any additional queries that need to be addressed in person.

          </p>

        </div>
      </section>
      <%- include ("footer.ejs")%>
   
</body>
</html>