<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="shortcut icon" href="/images/uwezo-cleaning-company-high-resolution-logo-transparent.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sign.css">
</head>
<body>
   
   
    <section id="sign">
        <%- include('header.ejs')%>
      <h1>SignUp</h1>
    <% if(locals.errorMessage){%>
        <p style="color: orangered;"><%= locals.errorMessage%></p>
    <%}%>
    
    <form action="/admin" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="email">Admin Email</label>
            <input type="text" name="email" id="email" required>
        </div>
       
        <div>
            <label for="role">Role</label>
            <select name="role" id="role">
                <option value="CEO">CEO</option>
                <option value="GM">General Manager</option>
                <option value="FM">Field Manager</option>
                <option value="SM">Sales Manager</option>
            </select>
        </div>
        <div>
            <label for="password_hash">Password</label>
            <input type="password" name="password_hash" id="password_hash" required>
            <p id="passworderror"></p>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" required>
            <p id="confirmPassworderror"></p>
        </div>
        <input type="submit" value="SignUp" class="button">
    </form>
 
    </section>
    <p class="change">Already have an account? <a href="/adminsign">Sign In</a></p>

    <script>
        const passworderror = document.getElementById('passworderror')
        const passwordInput = document.getElementById('password')
      passwordInput.addEventListener('input',()=>{
            if(passwordInput.value.length<8){
                passworderror.textContent='Password must be over 8 characters'
            }else{
                passworderror.textContent=''
            }
        })
        document.getElementById("confirmpassword").addEventListener('input',()=>{
            if(passwordInput.value!==document.getElementById('confirmpassword').value){
                passworderror.textContent="The password and confirm password do not match"
            }else{
                passworderror.textContent=""
            }
        })
    </script>
</body>
</html>