<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="shortcut icon" href="/images/uwezo-cleaning-company-high-resolution-logo-transparent.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <%- include("header.ejs")%>
    <section class="house">
        <div class="sign">
             <h1>Contact Us</h1>
             <p>If you have any questions, feel free to <a href="mailto:mulatyamichael6@gmail.com">Email Us</a>.</p>
        </div>
        <div class="sign">
            <p>You can also contact us through our phone number:</p>
            <p><a href="tel:0736010245">+254 736 010 245</a></p>
        </div>
    </section>
    <p style="text-align: center;">
        THANK YOU FOR ENTRUSTING YOUR CLEANLINESS TO US
    </p>
    
        <%-include("footer.ejs")%>
 
</body>
</html>
