<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>
<body>
    <%-include('header.ejs')%>

    <form action="/UpdateEmployees" method="post" style="margin-top: 200px;" class="form">
        <label for="first_name">First name</label>
        <input type="text" id="first_name" name="first_name" required>
        <label for="last_name">Last name</label>
        <input type="text" name="last_name" id="last_name" required>
        <label for="phone">Phone Number</label>
        <input type="number" name="phone" id="phone" >
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="position">Position</label>
        <select name="position" id="position">
            <option value="Supervisor">Supervisor</option>
            <option value="office">Office</option>
            <option value="house">House</option>
            <option value="carpet">Carpet</option>
        </select>
        <input type="submit" name="submit" id="submit">

    </form>
</body>
</html>