<head>
  <link rel="stylesheet" href="/css/style.css">
</head>
<footer class="footer">

    <div class="footer-top section">
      <div class="container">

      

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Services</p>
          </li>

          <li>
            <a href="/services" class="footer-link"></a>
          </li>

          <li>
            <a href="/services" class="footer-link">Residential cleaning</a>
          </li>

          <li>
            <a href="/services" class="footer-link">Office Cleaning</a>
          </li>

          <li>
            <a href="/services" class="footer-link">Washing carpets</a>
          </li>

          <li>
            <a href="/services" class="footer-link"></a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Quick Links</p>
          </li>

          <li>
            <a href="/about" class="footer-link">About Us</a>
          </li>

          

          <li>
            <a href="/pricing" class="footer-link">Pricing Plan</a>
          </li>

          <li>
            <a href="/FAQ" class="footer-link">FAQ</a>
          </li>

          <li>
            <a href="#" class="footer-link"></a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Contact Us</p>
          </li>

          <li class="footer-item">
          
            <span class="span">
              Call Us:
              <a href="tel:+3237501234" class="footer-item-link">+(254)736010245</a>
            </span>
          </li>

          <li class="footer-item">


            <span class="span">
              Address:
              <a href="#" class="footer-item-link">Kalyet City Mall</a>
            </span>
          </li>

          <li class="footer-item">
                            

            <span class="span">
              Mail Us:
              <a href="mailto:mulatyamichael6@gmail.com" class="footer-item-link">Hello@mulatyamichael6@gmail.com</a>
            </span>
          </li>

        </ul>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">Uwezo Cleaners &copy; 2024 .All rights Reserved</p>
        

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Privacy Policy</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Security</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Terms & Conditions</a>
          </li>

        </ul>

      </div>
    </div>

  </footer>