<head>
  <link rel="stylesheet" href="/css/style.css ">
</head>
<header class="header" data-header>
    <div class="container">

      <h1>
       <a href="/"> <img src="/images/uwezo-cleaning-company-high-resolution-logo-transparent.png" alt=" logo" style="height: 150px;"></a>
      </h1>

      <nav class="navbar container" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="/" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li class="navbar-item">
            <a href="/services" class="navbar-link" data-nav-link>Services</a>
          </li>

          <li class="navbar-item">
            <a href="/about" class="navbar-link" data-nav-link>About</a>
          </li>

          <li class="navbar-item">
            <a href="/contact" class="navbar-link" data-nav-link>Contact Us</a>
          </li>
          
          <li class="navbar-item">
            <a href="/pricing" class="navbar-link" data-nav-link>Pricing</a>
          </li>
          <li class="navbar-item">
            <a href="/FAQ" class="navbar-link" data-nav-link>FAQ</a>
          </li>
        </ul>
      </nav>
       <% if(locals.user && locals.user.email.includes("uwezo.co.ke")){%>
         <a href="/adminprofile"><%= locals.user.username %></a>
         <a href="/logout">Logout</a>
         <%} else if (locals.user){%>
          <a href="/profile"><%=locals.user.first_name%></a>
          <a href="/logout">Logout</a>
        
        <%}else{%>
            <button class="btn btn-secondary" ><a href="/signup">Get Started</a></button>
            <button class="btn btn-secondary" ><a href="/signin">Sign In</a></button>
        <%} %>    
        
     
      <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggle-btn>
        <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
        <ion-icon name="close-outline" class="close-icon"></ion-icon>
      </button>

    </div> 
  </header>