<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Uwezo Cleaning Company - Your trusted partner</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="shortcut icon" href="/images/uwezo-cleaning-company-high-resolution-logo-transparent.png" type="image/x-icon">
  
</head>

<body id="top">
  <%- include("header.ejs")%>
  <main>
   
    <article>
      <a href="/signup">Sign Up </a>
      <section class="section hero" id="home">
        <div class="container">

          <figure class="hero-banner">
            <img src="/images/project img.jpeg" width="804" height="643" loading="lazy" alt="hero banner"
              class="w-100" style="border-radius: 20px; background-color: white;">
          </figure>

          <div class="hero-content">

            <h2 class="h1 hero-title">Stay clean with Uwezo Cleaners!!!</h2>

            <p class="section-text">
              Stay clean with Uwezo as we are your trusted partners.Your satisfaction is afterall our priority.
            </p>

            

          

          </div>

        </div>
      </section>

      <section class="section service" id="services">
        <div class="container">

          <h2 class="h2 section-title">Our Solutions For You</h2>

          <p class="section-text">
            We offer a variety of services for you which include:
          </p>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <figure class="card-banner">
                  <img src="/images/pickup.jpg" width="728" height="344" loading="lazy" alt="Pick Up"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Pick up services</a>
                  </h3>

                  <p class="card-text">
                    We pick up your carpets and even Sofasets basing on your Geographical location
                  </p>


                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <figure class="card-banner">
                  <img src="/images/cleaner.jpg" width="728" height="344" loading="lazy" alt="Engagement"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Residential Cleaning</a>
                  </h3>

                  <p class="card-text">
                    Comprehensive cleaning services for your home, ensuring a clean and healthy living environment.
                  </p>


                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <figure class="card-banner">
                  <img src="/images/office.jpg" width="728" height="344" loading="lazy" alt="Marketing"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Commercial Cleaning</a>
                  </h3>

                  <p class="card-text">
                    Expert cleaning solutions for offices and commercial spaces, tailored to meet your needs.
                  </p>


                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #FEATURES
    -->





      <!-- 
        - #ABOUT
      -->






      <!-- 
        - #STATS
      -->

      




      <!-- 
        - #APP
      -->

      <section class="section app">
        <div class="footer-brand"> 
        <h1>OUR AREAS OF SERVICE</h1>

      <!-- location -->
       
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.6576297780434!2d35.27157407371883!3d0.5142303636944453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x178101cd403203db%3A0xa85052837c51db77!2sKALYET%20CITY%20MALL!5e0!3m2!1sen!2ske!4v1722176500554!5m2!1sen!2ske" width="100%" height="640" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
          <p>We currently offer services in the Eldoret Region</p>

        </div>
      </section>





      <!-- 
        - #SUPPORT
      -->

      <section class="section support">
        <div class="container">

          <div class="support-content">
            <h2 class="h2 section-title">Keen And detailed Customer Support</h2>

            <p class="section-text">
              Our team is here to provide you with personalized and outstanding service. We also offer a range of
              services to help you keep your property and homes sparkling clean. We are here to help you with any questions that you may not find in our FAQ's
            </p>
          </div>

          <a href="/contact" class="btn btn-primary">Contact Us Now</a>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

 <%-include("footer.ejs")%>




  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="index.js" defer></script>

  
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>