<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our prices</title>
    <link rel="shortcut icon" href="/images/uwezo-cleaning-company-high-resolution-logo-transparent.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/service.css">
</head>
<body>
    <%-include("header.ejs")%>

    <section class="hot">
        <div class="carpet">
            <h1>Carpets:</h1>
            <p>We charge depending on the carpet size</p>
            <p>We have excluded the transport charges due to the geographical location as you may be further than   others or even closer than others</p>
            <p>The transportation price can be paid after delivery.</p>
            <h4>Our prices on carpets are as follows:</h4>
            <ul>
                <li>4*6 is ksh.500</li>
                <li>5*6 is ksh.800</li>
                <li>6*6 is ksh.1100</li>
            </ul>
        </div>
        <div class="house">
            <h1>House:</h1>
            <p>Similarly we charge depending on the size of the house</p>
            <h4>Our prices on houses are as follows:</h4>
            <p>
                We charge basing on 10 by 10 feet:
            </p>
            <ul>
                <li>
                    10 by 10 feet is ksh.1200
                </li>
            </ul>

        </div>
        <div class="office">
            <h1>Office:</h1>
            <p>Similarly we charge depending on the size of the office</p>
            <h4>Our prices on office are as follows:</h4>
            <p>
                We charge basing on 10 by 10 feet:
            </p>
            <ul>
                <li>
                    10 by 10 feet is ksh.1200
                </li>
            </ul>

        </div>
    </section>
   <%- include("footer.ejs")%>
</body>
</html>
