<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <%- include('header.ejs') %>
    <h1 style="margin-top: 170px; text-align: center;">
        Update Your company data
    </h1>
    <table>
        <tr>
            <td><a href="/UpdateEmployees">Employees</a></td>
            
        </tr>
        <tr>
            <td><a href="/updateorders">orders</a></td>
        </tr>
        
    </table>
    
</body>
</html>